!
no service pad
no platform punt-keepalive disable-kernel-core
no ip domain lookup
no ip finger 
no ip bootp server
ip dhcp bootp ignore 
no service dhcp
no service config
no ip http server
no ip http secure-server
no service tcp-small-servers
no ip source-route
no service udp-small-servers
no service call-home
service unsupported-transceiver
!

service tcp-keepalives-in
service tcp-keepalives-out
!
service timestamps debug datetime msec show-timezone
service timestamps log datetime msec show-timezone
!
service password-encryption
!
lldp run
!
hostname  {{ device.name }}
!
logging discriminator HIDE_LOG severity drops 4 facility drops PLATFORM mnemonics drops ELEMENT_WARNING
logging count
logging buffered discriminator HIDE_LOG 1000000
logging console discriminator HIDE_LOG critical
logging monitor discriminator HIDE_LOG
!
username sunlocal privilege 15 secret 9 $9$ubbUiHAeoXkBc.$YqtDN9PD07ue8lCdZW8XpOvygGb7r3lOYEAQi7Gyka.
enable secret 9 $9$KUQ3lTSgrdAc6U$V9.vfvjelox14/zdQxmToY6LAFeVmQ3iq57eGsXeUF6
!
aaa new-model
!
tacacs server WesternTacacsServers
   address ipv4 10.146.119.221
   key 7 044B0E121D71585C581809
   timeout 30
tacacs server EasternTacacsServers
   address ipv4 10.22.128.221
   key 7 044B0E121D71585C581809
   timeout 30
aaa group server tacacs+ SuncorTacacsServers
   server name WesternTacacsServers
   server name EasternTacacsServers   
   ip tacacs source-interface Vlan{{ device.site.vlan_groups.get(name=device.name).vlans.get(name='mgmt').vid }}
!
ip domain name network.lan

ip dhcp snooping
no ip dhcp snooping information option
ip dhcp snooping vlan 1-4094
!
mac address-table notification change
mac address-table notification mac-move
!
vtp mode off
!
udld aggressive
!
crypto key generate rsa modulus 4096
!
!
spanning-tree mode mst
spanning-tree mst configuration
name Suncor_MST
revision 1
instance 0 vlan 1-4094
spanning-tree mst 0 priority 32768
spanning-tree portfast bpduguard default
no spanning-tree etherchannel guard misconfig
spanning-tree portfast default
spanning-tree extend system-id
!
