{% set vlan_group = device.site.vlan_groups.get(name=device.name) if device.site and device.site.vlan_groups else None %}
{% set vlans = vlan_group.vlans.all() %}
{% set mgmt_vlan = vlan_group.vlans.get(name='mgmt') if vlan_group and vlan_group.vlans else None %}
{% set mgmt_vid = mgmt_vlan.vid if mgmt_vlan else None %}
{% set mgmt_net = device.interfaces.get(type='virtual').ip_addresses.get().address %}
{% set mgmt_ip = mgmt_net.ip %}
{% set mgmt_netmask = mgmt_net.netmask %}
!
no service pad
no platform punt-keepalive disable-kernel-core
no ip domain lookup
no ip finger 
no ip bootp server
ip dhcp bootp ignore 
no service dhcp
no service config
no ip http server
no ip http secure-server
no service tcp-small-servers
no ip source-route
no service udp-small-servers
no service call-home
service unsupported-transceiver
!
service tcp-keepalives-in
service tcp-keepalives-out
!
service timestamps debug datetime msec show-timezone
service timestamps log datetime msec show-timezone
!
service password-encryption
!
lldp run
!
hostname  {{ device.name }}
!
logging discriminator HIDE_LOG severity drops 4 facility drops PLATFORM mnemonics drops ELEMENT_WARNING
logging count
logging buffered discriminator HIDE_LOG 1000000
logging console discriminator HIDE_LOG critical
logging monitor discriminator HIDE_LOG
!
username sunlocal privilege 15 secret 9 $9$ubbUiHAeoXkBc.$YqtDN9PD07ue8lCdZW8XpOvygGb7r3lOYEAQi7Gyka.
enable secret 9 $9$KUQ3lTSgrdAc6U$V9.vfvjelox14/zdQxmToY6LAFeVmQ3iq57eGsXeUF6
!
aaa new-model
!
tacacs server WesternTacacsServers
   address ipv4 10.146.119.221
   key 7 044B0E121D71585C581809
   timeout 30
tacacs server EasternTacacsServers
   address ipv4 10.22.128.221
   key 7 044B0E121D71585C581809
   timeout 30
aaa group server tacacs+ SuncorTacacsServers
   server name WesternTacacsServers
   server name EasternTacacsServers   
   ip tacacs source-interface Vlan{{ mgmt_vid}}
!
ip domain name network.lan

ip dhcp snooping
no ip dhcp snooping information option
ip dhcp snooping vlan 1-4094
!
mac address-table notification change
mac address-table notification mac-move
!
vtp mode off
!
udld aggressive
!
crypto key generate rsa modulus 4096
!
!
spanning-tree mode mst
spanning-tree mst configuration
name Suncor_MST
revision 1
instance 0 vlan 1-4094
spanning-tree mst 0 priority 32768
spanning-tree portfast bpduguard default
no spanning-tree etherchannel guard misconfig
spanning-tree portfast default
spanning-tree extend system-id
!
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause security-violation
errdisable recovery cause channel-misconfig
errdisable recovery cause pagp-flap
errdisable recovery cause dtp-flap
errdisable recovery cause link-flap
errdisable recovery cause sfp-config-mismatch
errdisable recovery cause gbic-invalid
errdisable recovery cause l2ptguard
errdisable recovery cause psecure-violation
errdisable recovery cause port-mode-failure
errdisable recovery cause dhcp-rate-limit
errdisable recovery cause pppoe-ia-rate-limit
errdisable recovery cause mac-limit
errdisable recovery cause storm-control
errdisable recovery cause inline-power
errdisable recovery cause arp-inspection
errdisable recovery cause link-monitor-failure
errdisable recovery cause oam-remote-failure
errdisable recovery cause loopback
errdisable recovery cause psp
!
device-tracking policy trusted_policy
device-role switch
trusted-port
!
password encryption aes
!
redundancy
mode sso
!
{% for vlan_id in vlans %}
vlan {{ vlan_id.vid }}
   name {{ vlan_id.name }}
{% endfor %}
!
interface vlan{{ mgmt_vid}}
ip address {{ mgmt_ip }} {{ mgmt_netmask }}
no ip redirects 
!
ip default-gateway {{ gateway }}
!
no qos rewrite ip dscp
qos queue-softmax-multiplier 1200 
!
logging history size 50
logging trap notifications
logging facility local5
logging source-interface Vlan{{ mgmt_vid}}
logging host 10.157.1.196
logging host 10.159.1.196
logging host 10.145.88.29
logging host 10.146.88.29
logging host 10.22.120.57
logging host 10.146.78.4
!
ip access-list standard acl-snmp-read-only
permit 10.22.120.57
permit 10.146.88.29
permit 10.145.88.29
permit 10.157.1.192 0.0.0.31
permit 10.159.1.192 0.0.0.31
permit 10.8.31.0 0.0.0.127
permit 10.16.31.0 0.0.0.127
permit 10.64.31.0 0.0.0.127
permit 10.22.66.128 0.0.0.127
deny   any log
!
ip access-list extended acl-ssh-access
permit tcp 10.145.88.29 0.0.0.0 gt 1024 any eq 22
permit tcp 10.146.88.29 0.0.0.0 gt 1024 any eq 22 
permit tcp 10.22.120.57 0.0.0.0 gt 1024 any eq 22
permit tcp 10.8.31.0 0.0.0.127 gt 1024 any eq 22
permit tcp 10.22.66.128 0.0.0.127 gt 1024 any eq 22
permit tcp 10.157.1.192 0.0.0.31 gt 1024 any eq 22
permit tcp 10.159.1.192 0.0.0.31 gt 1024 any eq 22
permit tcp 10.16.31.0 0.0.0.127 gt 1024 any eq 22
permit tcp 10.65.139.64 0.0.0.31 gt 1024 any eq 22
permit tcp 10.146.68.0 0.0.0.255 gt 1024 any eq 22
deny   ip any any log
!
snmp-server community {{ community }} RO acl-snmp-read-only
snmp-server trap-source Vlan{{ mgmt_vid }}
snmp-server file-transfer access-group acl-snmp-read-only protocol tftp
snmp-server contact IFNSSDAT
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps flowmon
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps tty
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps rep
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps port-security
snmp-server enable traps cpu threshold
snmp-server enable traps memory bufferpeak
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps fru-ctrl
snmp-server enable traps flash insertion removal
snmp-server enable traps energywise
snmp-server enable traps power-ethernet police
snmp-server enable traps entity
snmp-server enable traps ike policy add
snmp-server enable traps ike policy delete
snmp-server enable traps ike tunnel start
snmp-server enable traps ike tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps ipsla
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps event-manager
snmp-server enable traps vstack
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps vlan-membership
snmp-server enable traps errdisable
snmp-server enable traps rf
snmp-server enable traps transceiver all
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps mac-notification change move threshold
snmp-server enable traps vrfmib vrf-up vrf-down vnet-trunk-up vnet-trunk-down
snmp-server host 10.157.1.196 {{ community }}
snmp-server host 10.159.1.196 {{ community }}
snmp-server host 10.145.88.29 {{ community }}
snmp-server host 10.146.88.29 {{ community }}
snmp-server host 10.22.120.57 {{ community }}
snmp-server file-transfer access-group 7 protocol tftp
snmp ifmib ifindex persist
!
ip tacacs source-interface Vlan{{ mgmt_vid }}
tacacs-server directed-request restricted

network-policy profile 1
voice vlan untagged

!
banner motd  ^
********************************************************************************
THIS IS A PRIVATE SYSTEM INTENDED FOR SUNCOR AUTHORIZED USE ONLY.
UNAUTHORIZED ACCESS WILL BE REPORTED TO SUNCOR'S INFORMATION SECURITY
PERSONNEL AND LAW ENFORCEMENT AGENCIES.
USE OF SUNCOR'S SYSTEMS IS INTENDED FOR BUSINESS PURPOSES.
THERE IS NO RIGHT OF PRIVACY IN THIS SYSTEM. INFORMATION SYSTEMS AND SECURITY
PERSONNEL MAY GIVE TO LAW ENFORCEMENT OFFICIALS ANY POTENTIAL EVIDENCE OF CRIME
FOUND ON THIS SYSTEM. USE OF THIS SYSTEM BY ANY USER, AUTHORIZED OR
UNAUTHORIZED, CONSTITUTES EXPRESS CONSENT TO THIS MONITORING, WHICH MAY INCLUDE
INTERCEPTION, RECORDING, READING, COPYING, OR CAPTURING AND, IF REASONABLY
REQUIRED AND PERMITTED BY LAW, DISCLOSURE TO THE APPROPRIATE AUTHORITIES.
IF YOU DO NOT CONSENT, LOG OFF NOW.
********************************************************************************
CECI EST UN SYSTEME PRIVE QUI DOIT ETRE UNIQUEMENT UTILISE A DES FINS DUMENT
AUTORISEES PAR SUNCOR. TOUT ACCES NON AUTORISE SERA RAPPORTE AU GROUPE DE
LA SECURITE DE L'INFORMAITON DE SUNCOR ET AUX ORGANISMES D'APPLICATION DE
LA LOI.
L'UTILISATION DE CE SYSTEME EST PREVUE A DES FINS COMMERCIALES.
AUCUN DROIT A LA VIE PRIVEE N'EXISTE DANS CE SYSTEME. LE PERSONNEL DES SERVICES
INFORMATIQUES ET DU GROUPE DE LA SECURITE DE L'INFORMAITON PEUT SOUMETTRE TOUTE
EVIDENCE D'UN CRIME POTENTIEL AUX RESPONSABLES DE L'APPLICATION DE LA LOI.
L'UTILISATION DE CE SYSTEME PAR TOUTE PERSONNE AUTORISEE OU NON, CONSTITUE UN
CONSENTEMENT TACITE A LA SURVEILLANCE, INCLUANT L'INTERCEPTION, L'ENREGISTREMENT,
LA LECTURE, LA COPIE, OU LA CAPTURE ET, SI EXIGEE ET PERMISE PAR LA LOI,
LA DIVULGATION AUX AUTORITES APPROPRIEES.
SI VOUS NE CONSENTEZ PAS A CES CONDITIONS, SORTEZ DU SYSTEME MAINTENANT.
********************************************************************************
^
!
line con 0
exec-timeout 15 0
login authentication no_tacacs
stopbits 1
!
line vty 0 4
session-timeout 180
access-class acl-ssh-access in
exec-timeout 15 0
privilege level 15
password 7 0705344247191C1746
transport input ssh
transport output ssh
!
line vty 5 31
session-timeout 180
access-class acl-ssh-access in
exec-timeout 15 0
privilege level 15
password 7 0705344247191C1746
transport input ssh
transport output ssh
!
ip ssh version 2
ip ssh time-out 60
ip ssh authentication-retries 3
ip ssh source-interface Vlan{{ mgmt_vid}}
!
access-list 5 permit 10.8.60.47
access-list 5 permit 10.8.60.44
access-list 5 permit 10.22.131.253
access-list 6 deny   any
!
ntp access-group peer 5
ntp access-group serve 6
ntp server 10.8.60.44
ntp server 10.22.131.253
ntp server 10.8.60.47
ntp source Vlan{{ mgmt_vid}}
ntp authentication-key 5 md5 11281D081E1C5A5E57 7
ntp authenticate
ntp trusted-key 5
!
ip access-list standard acl-ssm-groups
permit 232.0.0.0 0.255.255.255
permit 239.232.0.0 0.0.255.255
!
ip access-list extended acl-network-control-cs6
permit pim any any
permit igmp any any
permit ospf any any
permit tcp any any eq bgp
permit tcp any eq bgp any
!
ip access-list extended acl-telephony-ef
!
ip access-list extended acl-signaling-cs5
!
ip access-list extended acl-multimedia-confer-af43
!
ip access-list extended acl-multimedia-confer-af42
!
ip access-list extended acl-multimedia-confer-af41
!
