{# 05_credentials.j2 — enable secret, local user, redundancy, transceiver #}
enable secret 9 $9$KUQ3lTSgrdAc6U$V9.vfvjelox14/zdQxmToY6LAFeVmQ3iq57eGsXeUF6
!
username sunlocal privilege 15 secret 9 $9$ubbUiHAeoXkBc.$YqtDN9PD07ue8lCdZW8XpOvygGb7r3lOYEAQi7Gyka.
!
redundancy
 mode sso
crypto engine compliance shield disable
!
!
!
!
!
transceiver type all
 monitoring
!
