{#
  09_svi.j2 — Layer 3 SVIs
  Depends on: mgmt_vid, mgmt_ip, mgmt_netmask (from 00_context_vars.j2)
  Reusable: any IOS-XE switch template with a management VLAN SVI.
#}
interface Vlan1
 no ip address
!
interface Vlan{{ mgmt_vid }}
 ip address {{ mgmt_ip }} {{ mgmt_netmask }}
 no ip redirects
!
